<h2>Create an account</h2>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div>
  {{ authForm.get("username")?.errors | json }}
  {{ authForm.get("password")?.errors | json }}
  {{ authForm.get("passwordConfirmation")?.errors | json }}
  <div class="field">
    <label>Password</label>
    <input formControlName="password" />
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation" />
  </div>
  <button class="ui submit button primary">Submit</button>

  {{ authForm.errors | json }}
</form>
