<h2>Create an account</h2>
<form class="ui form" [formGroup]="authForm">
  <app-input
    label="Username"
    [control]="$any(authForm).get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="password"
    [control]="$any(authForm).get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password Confirmation"
    [control]="$any(authForm.get('passwordConfirmation'))"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors?.passwordDoesntMatch">
      The passwords you entered don't match each other
    </p>
  </div>

  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
